@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, blog!</h1>
<h3>Test post</h3>
<p>
    There are some content
    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Animi atque consequatur delectus deserunt ducimus explicabo in mollitia numquam,
        officia officiis optio perferendis quaerat quibusdam rem reprehenderit similique
        temporibus voluptate voluptatem.</span>
    
    and <MudLink Href="/test-post">link to read more</MudLink>
</p>

<SurveyPrompt Title="How is Blazor working for you?"/>