@page "/test-post"
<h3>TestPost</h3>
<p>
    More detailed explanation
        There are some content
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Animi atque consequatur delectus deserunt ducimus explicabo in mollitia numquam,
            officia officiis optio perferendis quaerat quibusdam rem reprehenderit similique
            temporibus voluptate voluptatem.</span><span>Adipisci amet architecto, assumenda
            at distinctio dolore error eum ipsum maxime nisi nulla quam, reprehenderit s
            imilique? Aut quam quos sit temporibus veniam. Asperiores delectus eligendi 
            nisi perspiciatis reprehenderit sed voluptatibus.</span><span>Cum ea earum eius 
            error facere in nisi quae saepe sequi ullam? Accusamus aliquam aperiam atque, 
            corporis doloribus, esse explicabo libero molestiae, nobis optio pariatur quidem 
            repellat sequi voluptas voluptatibus.</span><span>Consectetur dicta dolore ea minus 
            quidem repudiandae vero. Distinctio magnam magni tempore. Animi consequatur corporis
            harum illum ipsum molestias, tempora. Assumenda consequuntur dolor dolore earum 
            inventore quas recusandae soluta tempore.</span><span>Assumenda, deserunt doloremque
            ea error fugit magni, minus neque non nostrum officiis quibusdam vitae! Atque commodi
            dignissimos eligendi ex expedita facere illo, labore minima officia ratione unde vero 
            voluptas voluptatibus.</span>
</p>
@code {
    
}